# --- Data ---
data/raw/
data/processed/*.db
data/processed/*.csv
data/processed/*.sqlite

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
.ipynb_checkpoints/

# --- IDE & OS ---
.vscode/
.idea/
.dbeaver/
.DS_Store
Thumbs.db
Desktop.ini

# --- Large log files ---
*.log